/*RESETS*/ /* black rgba(26, 26, 26, 1) green: #007849*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}


/** {
  box-sizing: border-box;
}*/


/*body*/
html
{
    background-color: #1a1a1a;
}
body
{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;

    color: #fff;
    background: url(../images/bg.jpg) center center no-repeat;
    background-size: cover;
}


.indexSection
{
    position: relative;

    overflow-y: scroll;

    box-sizing: border-box;
    height: 100vh;
    padding-top: 35px;

    background: rgba(26, 26, 26, .45);
}


/*******************/
/*NAV*/
/*******************/

nav
{
    position: fixed;
    z-index: 999;

    display: block;

    width: 100vw;
    height: 60px;

    background: rgba(26, 26, 26, 1);
}

.logo-wrap
{
    font-size: 2em;

    display: flex;

    width: 300px;
    height: 60px;

    cursor: pointer;
    vertical-align: middle;

    text-shadow: 1px 1px 10px #000;

    justify-content: center;
    align-items: center;
}

.span-green
{
    font-weight: bolder;

    color: #007849;
}

.sign-in-btn,
.sign-in-btn:hover,
.sign-in-btn:active,
.sign-in-btn:visited,
.sign-up-btn,
.sign-up-btn:hover,
.sign-up-btn:active,
.sign-up-btn:visited
{
    font-size: 1em;
    font-weight: 400;
    line-height: normal;

    position: relative;

    display: inline-block;
    /*left: 300px;*/
    /*display: block;*/

    width: 80px;
    height: 20px;
    padding: 7px 17px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: .15em;

    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #007849;

    align-self: center;
}


.sign-out-btn
{
    font-size: 1em;
    font-weight: 400;
    line-height: normal;

    position: relative;
    /*left: 300px;*/

    display: block;

    width: 90px;
    height: 20px;
    padding: 7px 17px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: .15em;

    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background-color: #007849;

    align-self: center;
}

.sign-up-btn,
.sign-up-btn:hover,
.sign-up-btn:active,
.sign-up-btn:visited
{
    font-size: 1.4em;
    font-weight: 300;

    left: 0;

    display: block;

    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin: 0;
    margin-top: 10px;
    padding: auto 34px;

    text-align: center;
}

.btn-large,
.btn-large:hover
{
    width: 450px;
}

.x-large,
.x-large:hover
{
    width: 100%;
}


/*******************/
/*HOME PAGE*/
/*******************/
.homePage
{
    display: flex;

    height: 100%;

    justify-content: flex-start;
    align-items: center;
}

.homePage-container
{
    padding-left: 50px;
}


.homePage h2
{
    font-size: 2em;

    text-shadow: 1px 1px 10px #000;
}

.homePage h3
{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8em;

    margin-top: 50px;

    text-shadow: 1px 1px 10px #000;
}

.homePage p
{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;

    letter-spacing: .05em;

    color: #fff;
}

.homePage .bolderText
{
    font-size: 1.2em;
    font-weight: 400;

    color: #007849;
    text-shadow: 1px 1px 10px #000;
}


/*******************/
/*SIGN UP*/
/*******************/

.signUp-container
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    /*background-color: #1a1a1a;*/

    justify-content: center;
    align-items: center;
}

.signUp-container h2
{
    font-size: 2em;

    visibility: hidden;

    text-align: center;

    text-shadow: 1px 1px 10px #000;
}

.signUp
{
    width: 500px;
    height: 500px;
}

.signUp input
{
    font-size: 2em;

    width: 100%;
    height: 60px;
    margin: 25px 0;

    text-align: center;

    color: #fff;
    border: 2px solid #007849;
    /*border-color: transparent;*/
    background: rgba(26, 26, 26, 1);
}

.signUp input:focus
{
    font-size: 2em;

    text-align: center;

    color: rgba(255, 255, 255, 1);
}

input:focus::-webkit-input-placeholder
{
    font-size: .95em;

    transition: all .2s linear;
    transform: translateY(-20px);
}

.signUpEmailWrap
{
    position: relative;
}

.signUpEmailWrap label,
#searchFormLabel
{
    position: absolute;
    top: 50px;
    left: 10px;

    transition: all .2s linear;

    color: rgba(255, 255, 255, .7);
}

#signUpPasswordLabel
{
    position: absolute;
    top: 200px;
    left: 10px;

    transition: all .2s linear;

    color: rgba(255, 255, 255, .7);
}

.signUpEmailWrap input:focus + #signUpLabelEmail,
#signUpPassword:focus + #signUpPasswordLabel
{
    font-size: .8em;

    transition: all .2s linear;
    transform: translateY(-18px);
}

.searchForm
{
    display: flex;

    margin-bottom: 50px;

    justify-content: center;
    align-items: center;
}


#searchFormLabel
{
    width: 80vw;
    margin-left: 10vw;
}

.searchFormLabelDirty
{
    font-size: .8em;

    transition: all .2s linear;
    transform: translateY(-18px);
}


.signUpEmailWrap input:focus
{
    font-size: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    transition: background-color 5000s ease-in-out 0s;
}



.inputError
{
    border: 2px solid red;
}

.inputErrorLabel
{
    transition: color 0s linear, transform .2s linear;

    color: red!important;
    border: none;
}

.errorMessage
{
    margin-top: 10px;

    text-align: center;

    color: red;
}

.alreadyLogged
{
    font-size: 2em;
}

.alreadyLoggedWrap
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.placeholder
{
    position: relative;

    width: 50%;

    text-align: right;

    color: transparent;
}

.placeholder input
{
    width: 100%;

    text-align: left;
}

.placeholder::after
{
    position: absolute;
    top: 3px;
    left: 60%;

    content: attr(placeholder);
    text-align: right;
    pointer-events: none;

    opacity: .1;
    color: #000;
}

.search-submit
{
    position: absolute;

    visibility: hidden;

    width: 0;
    height: 0;
}


.trailer-bg
{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    display: flex;

    width: 100vw;
    height: 100vh;

    animation: fade-in .2s linear 0s forwards;

    background: #000;
    background: rgba(0, 0, 0, .95);

    justify-content: center;
    align-items: center;
}


/*.trailer-bg:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: 'X';
  position: absolute;
  height: 25px;
  width: 25px;
  top: 15vh;
  right: 15vw;
  background: #fff;
  background: rgba(255, 255, 255, .9);
  border-radius: 50%;
  color: #000;
  cursor: pointer;

}*/

iframe
{
    position: relative;

    width: 80vw;
    height: 70vh;
}

.hide
{
    display: none;
}

.full
{
    z-index: 999;
    top: 0;
    left: 0;

    display: flex;

    animation: fade-in .2s linear 0s forwards;
}

section
{
    position: relative;
}


/*ANIMATIONS*/

.fade-in
{
    animation: fade-in 1s linear .5s forwards;

    opacity: 0;
}

.fade-in-delay-1
{
    animation: fade-in 1s linear 1s forwards;

    opacity: 0;
}

.fade-in-delay-2
{
    animation: fade-in 1s linear 1.5s forwards;

    opacity: 0;
}

.fade-in-delay-3
{
    animation: fade-in 1s linear 2s forwards;

    opacity: 0;
}

.fade-in-delay-4
{
    animation: fade-in 1s linear 2.5s forwards;

    opacity: 0;
}

@keyframes fade-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.anchor-block
{
    display: block;
}


/*loading animation*/

.loading
{
    position: absolute;
    z-index: 999;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100%;
    /*height: calc(100% - 60px);*/

    background: rgba(26, 26, 26, 1);
}

.loading-details
{
    top: 60px;
}

.cs-loader-inner
{
    position: absolute;
    top: 50%;

    width: calc(100% - 200px);
    padding: 0 100px;

    transform: translateY(-50%);
    text-align: center;

    color: #fff;
}

.cs-loader-inner label
{
    font-size: 20px;

    display: inline-block;

    opacity: 0;
}

@keyframes lol
{
    0%
    {
        transform: translateX(-300px);

        opacity: 0;
    }
    33%
    {
        transform: translateX(0px);

        opacity: 1;
    }
    66%
    {
        transform: translateX(0px);

        opacity: 1;
    }
    100%
    {
        transform: translateX(300px);

        opacity: 0;
    }
}

@-webkit-keyframes lol
{
    0%
    {
        -webkit-transform: translateX(-300px);

        opacity: 0;
    }
    33%
    {
        -webkit-transform: translateX(0px);

        opacity: 1;
    }
    66%
    {
        -webkit-transform: translateX(0px);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(300px);

        opacity: 0;
    }
}

.cs-loader-inner label
{
    margin-bottom: 10px;
}
.cs-loader-inner label:nth-child(6)
{
    -webkit-animation: lol 3s infinite ease-in-out;
            animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5)
{
    -webkit-animation: lol 3s 100ms infinite ease-in-out;
            animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4)
{
    -webkit-animation: lol 3s 200ms infinite ease-in-out;
            animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3)
{
    -webkit-animation: lol 3s 300ms infinite ease-in-out;
            animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2)
{
    -webkit-animation: lol 3s 400ms infinite ease-in-out;
            animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1)
{
    -webkit-animation: lol 3s 500ms infinite ease-in-out;
            animation: lol 3s 500ms infinite ease-in-out;
}


/*HORIZONTAL SCROLL - NO SCROLL BAR*/

.movie-horizontal-container,
.similar-horizontal-container
{
    overflow: hidden;

    width: 100vw;
    height: 150px;
    margin: 0 0;

    /*border: 1px solid green;*/
}

.movie-horizontal,
.similar-horizontal
{
    overflow-x: scroll;
    overflow-y: hidden;

    height: 100%;
    padding-bottom: 20px;

    /*border: 1px solid red;*/
}

.movie-horizontal ul,
.similar-horizontal ul
{
    position: relative;
    top: 0;

    display: inline-block;

    width: auto;
    height: 100%;

    white-space: nowrap;
    /*margin-left: 1600px;*/

    /*border: 1px solid blue;*/
}

.similar-horizontal ul
{
    /*margin-left: 1700px;*/
}



.movie-horizontal li,
.similar-horizontal li
{
    position: relative;

    display: inline-block;

    width: 250px;
    height: 150px;
    margin: 0 5px;

    transition: all .2s ease;
    white-space: nowrap;
}

.movie-horizontal li:hover,
.similar-horizontal li:hover
{
    margin: 0 60px;

    transition: all .2s linear;
    transform: scale(1.5);

    /*height: 200px;*/
}

.similarMovieWrapper,
.searchResultsWrapper
{
    position: fixed;
    top: 60px;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    transform: translateX(-100vw);
    /*opacity: 0;*/

    justify-content: center;
    align-items: center;
}

.similarMovieWrapper .movie-horizontal-container:last-of-type
{
    padding-bottom: 0;

    background: transparent;
}




.searchMovieClicked,
.similarMovieClicked
{
    transform: translateX(0vw);
    animation: fade-in .2s linear 0s forwards;

    opacity: 1;
    background: #000;
    background: rgba(0, 0, 0, .95);
}


.searchBarMove
{
    z-index: 999;

    transition: transform .2s linear;
    transform: translateY(-50px);
}

.searchBarLabelMove
{
    z-index: 999;

    transform: translateY(-70px);
}

.imgContainer
{
    display: flex;
    overflow: hidden;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.imgContainer img
{
    /*width: 100%;*/
    height: 100%;
}


.movie-text
{
    position: absolute;
    z-index: 100;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    cursor: pointer;
    transition: opacity .2s linear;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;

    opacity: 0 !important;
    background-color: rgba(26, 26, 26, .7);

    justify-content: center;
    align-items: center;
}

.movie-text:hover
{
    transition: opacity .2s linear;

    opacity: 1!important;
}

.appFront
{
    padding-top: 50px;

    background: rgba(26, 26, 26, 1);
}

.appFront,
.search-wrap
{
    position: relative;

    overflow: hidden;

    /*background: rgba(26, 26, 26, .7);*/
}

.search-wrap
{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.search-wrap .movie-horizontal-container:last-of-type
{
    padding: 0;

    background-color: transparent;
}
.search-wrap .movie-horizontal-container
{
    height: 400px;
    padding: 0;
    /*border: 1px solid red;*/

    background-color: transparent;
}

.search-wrap .movie-horizontal li
{
    overflow: visible;

    width: auto;
    height: auto;
}

.search-wrap .movie-horizontal li:hover
{
    margin: 0 5px;

    transition: all .2s linear;
    transform: scale(1);
}

.search-bg
{
    background-color: rgba(26, 26, 26, 1);
}

.search-inner-wrap
{
    width: 100%;
}
.appFront h3
{
    position: relative;
    z-index: 900;
    left: 0;

    margin: 25px 0 15px 0;
    padding-left: 20px;

    color: #fff;
    /*border: 1px solid yellow;*/
}

.similarH3
{
    position: absolute;
    z-index: 900;
    left: 0;

    width: 120px;
    height: 200px;

    background-color: #fff;
}

.movie-horizontal-container:last-of-type
{
    padding-bottom: 50px;

    background: rgba(26, 26, 26, 1);
}

.search-bar
{
    width: 80vw!important;

    transition: transform .2s linear;
}

.navBar-btns
{
    position: fixed;
    top: 0;
    right: 0;

    display: flex;

    width: 600px;
    height: 60px;
    /*background-color: red;*/

    justify-content: space-around;
    align-items: center;
}

.detailsSection
{
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 100vh;
    height: calc(100vh - 35px);

    text-align: center;

    background: rgba(26, 26, 26, 1);

    justify-content: center;
    align-items: center;
}

.detailsSection h2,
.detailsSection h3
{
    font-size: 1.8em;

    z-index: 800;
    top: 60px;

    width: 100%;
    height: 50px;
    margin-bottom: 25px;

    background: rgba(26, 26, 26, 1);
}

.detailsSection h3
{
    font-size: 1.5em;

    position: relative;
}

.details-container
{
    display: flex;

    justify-content: center;
    align-items: center;
}

.details-container .movie-horizontal-container:last-of-type
{
    padding-bottom: 0;
}

.detailsSection .poster-img
{
    width: 350px;
}

.genre-array,
.runtime
{
    font-size: .8em;
    font-weight: 300;

    display: inline-block;

    margin: 5px 10px;
}

.genre-array
{
    margin-top: 10px;
}

.text-container
{
    height: 100%;
    margin-left: 20px;
}
.overview
{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;

    overflow: hidden;

    width: 450px;
    height: 100%;
    margin: auto;
    margin-left: 25px;
    padding: 17px;
}

.icon,
.icon:hover
{
    display: block;

    margin: 10px;

    justify-content: center;
    align-items: center;
}

.icon-container
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.similarMovieWrapper h3
{
    font-size: 2em;

    transform: translateY(-50px);

    background: transparent;
}

@media only screen and (max-width: 873px)
{
    .details-container
    {
        flex-direction: column;
    }

    .detailsSection
    {
        height: auto;
    }

    .text-container
    {
        margin-left: 0;
    }

    .text-container h2
    {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 535px)
{
    .overview
    {
        font-size: 1em;

        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin: 0;
        margin-left: 0;
        padding: 0 90px;

        text-align: center;
    }
}

@media only screen and (max-width: 320px)
{
    .overview
    {
        padding: 50px 100px;
    }

    .detail-img-container img
    {
        width: 80%;
    }

    .navBar-btns
    {
        position: fixed;
        top: auto;
        bottom: 0;

        display: none;

        width: 100%;
    }

    .welcome-message
    {
        display: none;
    }

    .indexSection
    {
        padding-bottom: 60px;

        background: rgba(26, 26, 26, 1);
    }

    .homePage-container
    {
        padding-left: 0;

        text-align: center;
    }

    .sign-up-btn
    {
        width: 100%;
        margin-top: 50px;
    }

    .logo-wrap
    {
        width: 100%;

        border-bottom: 2px solid #007849;
    }
}
