/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** {
  box-sizing: border-box;
}*/


/*body*/
.indexSection{
  padding-top: 50px;
}

/* nav */
nav {
  height: 50px;
  width: 100vw;
  border: 1px solid red;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: #00E676;
  z-index: 999;
}




.placeholder
{
    position: relative;
    text-align: right;
    color: transparent;
    width: 50%;
}

.placeholder input {
  width: 100%;
  text-align: left;
}


.placeholder::after
{
    position: absolute;
    text-align: right;
    left: 60%;
    top: 3px;
    content: attr(placeholder);
    pointer-events: none;
    opacity: 0.1;
    color: #000;
}

.search-submit {
  visibility: hidden;
}

.trailer-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background: #000;
  background: rgba(0, 0, 0, .95);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.2s linear 0s forwards;
}

/*.trailer-bg:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: 'X';
  position: absolute;
  height: 25px;
  width: 25px;
  top: 15vh;
  right: 15vw;
  background: #fff;
  background: rgba(255, 255, 255, .9);
  border-radius: 50%;
  color: #000;
  cursor: pointer;

}*/

iframe {
  height: 70vh;
  width: 70vw;
  position: relative;
}

.hide {
  display: none;
}

.full{
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  animation: fade-in 0.2s linear 0s forwards;
}





section {
  position: relative;
}

.fade-in {
  opacity: 0;
  animation: fade-in 1s linear .5s forwards
}

.fade-in-delay-1 {
  opacity: 0;
  animation: fade-in 1s linear 1s forwards
}
.fade-in-delay-2 {
  opacity: 0;
  animation: fade-in 1s linear 1.5s forwards
}

.fade-in-delay-3 {
  opacity: 0;
  animation: fade-in 1s linear 2s forwards
}
.fade-in-delay-4 {
  opacity: 0;
  animation: fade-in 1s linear 2.5s forwards
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anchor-block {
  display: block;
}



/*loading animation*/
.loading {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background: #00E676;
  z-index: 999;
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 0 100px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

.movie-horizontal-container, .similar-horizontal-container {
  margin: 50px 0;
overflow: hidden;
  border: 1px solid green;
  height: 200px;
  width: 100vw;
}

.movie-horizontal, .similar-horizontal {
  overflow-y: hidden;
  overflow-x: scroll;
  border: 1px solid red;
  height: 100%;
  padding-bottom: 20px;
}
.movie-horizontal ul, .similar-horizontal ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: auto;
  /*margin-left: 1600px;*/
  /*border: 1px solid blue;*/
}
.similar-horizontal ul {
  /*margin-left: 1700px;*/
}

.movie-horizontal-inner, .similar-horizontal-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-horizontal li, .similar-horizontal li {
  margin: 0 20px;
  width: 200px;
  height: 150px;
  /*border: 1px solid purple;*/
}

.movie-horizontal li:first-of-type, .similar-horizontal li:first-of-type {
  margin-left: 90px;
}
.movie-horizontal li:last-of-type, .similar-horizontal li:last-of-type {
  width: 0px;
  height: 150px;
}

.movie-horizontal-inner a strong, .similar-horizontal-inner a strong{
  display: block;
}

.appFront {
  position: relative;
}

.appFront h3 {
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 900;
  height: 200px;
  width: 120px;
  /*border: 1px solid yellow;*/
}



.similarH3 {
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 900;
  height: 200px;
  width: 120px;
}
