<h1>appFront</h1>
<div ng-init="movies.getMainList()">
  <h1>{{movies.results.inTheatresResultsJson.results[0].title}}</h1>
  <ul>
    <p>In Theatres</p>
    <li ng-repeat="result in movies.results.inTheatresResultsJson.results |limitTo: movies.limit" >

      <!-- ng-if no img then hide-->
      <img ng-if="result.backdrop_path === null" src="images/no-image.png"  width="185" class="fade-in"/>
      <a href="#" ui-sref="movieDetails({movieId:result.id})">
        <img  ng-if="result.backdrop_path !== null"
      src="http://image.tmdb.org/t/p/w185//{{result.backdrop_path}}"
      class="fade-in"
      alt="{{ result.title}}"/>
        </a>
      <input type="hidden" value="{{result.id}}"/>
      <a href="#" ui-sref="movieDetails({movieId:result.id})" class="fade-in">
        <!-- slice to reduce date -->
      <strong>{{ result.title }}</strong> {{ result.release_date }}<br>
      <strong>{{ result.popularity }}</strong> <br>
    </a>
    </li>
  </ul>
  <button ng-click="movies.incrementLimit()" ng-if="movies.limit < movies.results.inTheatresResultsJson.results.length ">more</button>
  <!-- <p>array length:{{movies.results.length}}</p>
  <p>limit: {{movies.limit}}</p> -->

  <button ng-click="movies.decrementLimit()" ng-if="movies.limit > 5 ">less</button>



  <ul>
    <p>Popular</p>
    <li ng-repeat="result in movies.results.popularResultsJson.results |limitTo: movies.limit" >

      <!-- ng-if no img then hide-->
      <img ng-if="result.backdrop_path === null" src="images/no-image.png"  width="185" class="fade-in"/>
      <a href="#" ui-sref="movieDetails({movieId:result.id})">
        <img  ng-if="result.backdrop_path !== null"
      src="http://image.tmdb.org/t/p/w185//{{result.backdrop_path}}"
      class="fade-in"
      alt="{{ result.title}}"/>
        </a>
      <input type="hidden" value="{{result.id}}"/>
      <a href="#" ui-sref="movieDetails({movieId:result.id})" class="fade-in">
        <!-- slice to reduce date -->
      <strong>{{ result.title }}</strong> {{ result.release_date }}<br>
      <strong>{{ result.popularity }}</strong> <br>
    </a>
    </li>
  </ul>
  <button ng-click="movies.incrementLimit()" ng-if="movies.limit < movies.results.popularResultsJson.results.length ">more</button>
  <!-- <p>array length:{{movies.results.length}}</p>
  <p>limit: {{movies.limit}}</p> -->

  <button ng-click="movies.decrementLimit()" ng-if="movies.limit > 5 ">less</button>
</div>
