
<div ng-init="movies.getMainList()" class="appFront">
  <h3>Cinema <span class="span-green">Releases</span> </h3>
    <div class="movie-horizontal-container">
        <div class="movie-horizontal">
            <ul>
              <div class="loading" ng-if="!movies.results.inTheatresResultsJson.results">
                  <div class="cs-loader-inner">
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <p>LOADING...</p>
                  </div>
              </div>

                <li ng-repeat="result in movies.results.inTheatresResultsJson.results" ng-if="result.backdrop_path !== null">


                        <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                            <!-- slice to reduce date -->
                          {{ result.title }}

                        </p>
                        <a href="#" ui-sref="movieDetails({movieId:result.id})"
                        class="imgContainer">
                            <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                        </a>
                        <input type="hidden" value="{{result.id}}" />

                </li>
                <li class="phantom"></li>
            </ul>
        </div>
    </div>




    <h3>Popular <span class="span-green">Movies</span></h3>
    <div class="movie-horizontal-container">
        <div class="movie-horizontal">
            <ul>
              <div class="loading" ng-if="!movies.results.popularResultsJson.results">
                  <div class="cs-loader-inner">
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <label>	●</label>
                      <p>LOADING...</p>
                  </div>
              </div>

                <li ng-repeat="result in movies.results.popularResultsJson.results" ng-if="result.backdrop_path !== null">


                        <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                            <!-- slice to reduce date -->
                          {{ result.title }}

                        </p>
                        <a href="#" ui-sref="movieDetails({movieId:result.id})"
                        class="imgContainer">
                            <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                        </a>
                        <input type="hidden" value="{{result.id}}" />

                </li>
                <li class="phantom"></li>
            </ul>
        </div>
    </div>




      <h3>Sci-Fi <span class="span-green">Movies</span></h3>
      <div class="movie-horizontal-container">
          <div class="movie-horizontal">
              <ul>
                <div class="loading" ng-if="!movies.results.sciFiResultsJson.results">
                    <div class="cs-loader-inner">
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <p>LOADING...</p>
                    </div>
                </div>

                  <li ng-repeat="result in movies.results.sciFiResultsJson.results" ng-if="result.backdrop_path !== null">


                          <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                              <!-- slice to reduce date -->
                            {{ result.title }}

                          </p>
                          <a href="#" ui-sref="movieDetails({movieId:result.id})"
                          class="imgContainer">
                              <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                          </a>
                          <input type="hidden" value="{{result.id}}" />

                  </li>
                  <li class="phantom"></li>
              </ul>
          </div>
      </div>




        <h3>Romance <span class="span-green">Movies</span></h3>
        <div class="movie-horizontal-container">
            <div class="movie-horizontal">
                <ul>
                  <div class="loading" ng-if="!movies.results.romanceResultsJson.results">
                      <div class="cs-loader-inner">
                          <label>	●</label>
                          <label>	●</label>
                          <label>	●</label>
                          <label>	●</label>
                          <label>	●</label>
                          <label>	●</label>
                          <p>LOADING...</p>
                      </div>
                  </div>

                    <li ng-repeat="result in movies.results.romanceResultsJson.results" ng-if="result.backdrop_path !== null">


                            <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                                <!-- slice to reduce date -->
                              {{ result.title }}

                            </p>
                            <a href="#" ui-sref="movieDetails({movieId:result.id})"
                            class="imgContainer">
                                <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                            </a>
                            <input type="hidden" value="{{result.id}}" />

                    </li>
                    <li class="phantom"></li>
                </ul>
            </div>
        </div>



          <h3>Horror <span class="span-green">Movies</span></h3>
          <div class="movie-horizontal-container">
              <div class="movie-horizontal">
                  <ul>
                    <div class="loading" ng-if="!movies.results.horrorResultsJson.results">
                        <div class="cs-loader-inner">
                            <label>	●</label>
                            <label>	●</label>
                            <label>	●</label>
                            <label>	●</label>
                            <label>	●</label>
                            <label>	●</label>
                            <p>LOADING...</p>
                        </div>
                    </div>

                      <li ng-repeat="result in movies.results.horrorResultsJson.results" ng-if="result.backdrop_path !== null">


                              <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                                  <!-- slice to reduce date -->
                                {{ result.title }}

                              </p>
                              <a href="#" ui-sref="movieDetails({movieId:result.id})"
                              class="imgContainer">
                                  <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                              </a>
                              <input type="hidden" value="{{result.id}}" />

                      </li>
                      <li class="phantom"></li>
                  </ul>
              </div>
          </div>


            <h3>Comedy <span class="span-green">Movies</span></h3>
            <div class="movie-horizontal-container">
                <div class="movie-horizontal">
                    <ul>
                      <div class="loading" ng-if="!movies.results.comedyResultsJson.results">
                          <div class="cs-loader-inner">
                              <label>	●</label>
                              <label>	●</label>
                              <label>	●</label>
                              <label>	●</label>
                              <label>	●</label>
                              <label>	●</label>
                              <p>LOADING...</p>
                          </div>
                      </div>

                        <li ng-repeat="result in movies.results.comedyResultsJson.results" ng-if="result.backdrop_path !== null">


                                <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                                    <!-- slice to reduce date -->
                                  {{ result.title }}

                                </p>
                                <a href="#" ui-sref="movieDetails({movieId:result.id})"
                                class="imgContainer">
                                    <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                                </a>
                                <input type="hidden" value="{{result.id}}" />

                        </li>
                        <li class="phantom"></li>
                    </ul>
                </div>
            </div>


              <h3>Animation <span class="span-green">Movies</span></h3>
              <div class="movie-horizontal-container">
                  <div class="movie-horizontal">
                      <ul>
                        <div class="loading" ng-if="!movies.results.animationResultsJson.results">
                            <div class="cs-loader-inner">
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <label>	●</label>
                                <p>LOADING...</p>
                            </div>
                        </div>

                          <li ng-repeat="result in movies.results.animationResultsJson.results" ng-if="result.backdrop_path !== null">


                                  <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                                      <!-- slice to reduce date -->
                                    {{ result.title }}

                                  </p>
                                  <a href="#" ui-sref="movieDetails({movieId:result.id})"
                                  class="imgContainer">
                                      <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                                  </a>
                                  <input type="hidden" value="{{result.id}}" />

                          </li>
                          <li class="phantom"></li>
                      </ul>
                  </div>
              </div>



      <h3>Action <span class="span-green">Movies</span></h3>
      <div class="movie-horizontal-container">
          <div class="movie-horizontal">
              <ul>
                <div class="loading" ng-if="!movies.results.actionResultsJson.results">
                    <div class="cs-loader-inner">
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <label>	●</label>
                        <p>LOADING...</p>
                    </div>
                </div>

                  <li ng-repeat="result in movies.results.actionResultsJson.results" ng-if="result.backdrop_path !== null">


                          <p ui-sref="movieDetails({movieId:result.id})" class=" movie-text">
                              <!-- slice to reduce date -->
                            {{ result.title }}

                          </p>
                          <a href="#" ui-sref="movieDetails({movieId:result.id})"
                          class="imgContainer">
                              <img ng-if="result.backdrop_path !== null" src="http://image.tmdb.org/t/p/w780//{{result.backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                          </a>
                          <input type="hidden" value="{{result.id}}" />

                  </li>
                  <li class="phantom"></li>
              </ul>
          </div>
      </div>

</div>
