
<section ng-init="movies.getOneMovie()">


<h2>{{movies.results.singleMovieResultsJson.title}}</h2>
  <img  ng-if="result.backdrop_path !== null"
  src="http://image.tmdb.org/t/p/w185//{{movies.results.singleMovieResultsJson.poster_path}}"
  alt="{{ result.title}}"/>
<ul>
  <li ng-repeat="result in movies.results.singleMovieResultsJson.genres track by $index">
    <p>{{movies.results.singleMovieResultsJson.genres[$index].name}}</p>
  </li>
</ul>
<p>{{movies.results.singleMovieResultsJson.runtime}} mins</p>

<p>{{movies.results.singleMovieResultsJson.overview}}</p>

<a href="http://www.imdb.com/title/{{movies.results.singleMovieResultsJson.imdb_id}}" target="_blank">View on IMDB</a>
<iframe width="560" height="315"  frameborder="0" allowfullscreen
src="{{movies.results.singleVideoResultsJson.results[0].key | youtubeEmbedUrl }}">
</iframe>
<p>{{movies.results.singleVideoResultsJson.results[0].key}}</p>
<p>{{movies.singleVidUrl}}</p>
</section>
