<div class="loading" ng-if="!movies.results.singleVideoResultsJson.results">
  <div class="cs-loader-inner">
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <label>	●</label>
    <p>LOADING...</p>
  </div>
</div>

<section ng-init="movies.getOneMovie()" >
<a href="#" ui-sref="app/search">Back</a>

<h2>{{movies.results.singleMovieResultsJson.title}}</h2>
  <img  ng-if="result.backdrop_path !== null"
  src="http://image.tmdb.org/t/p/w185//{{movies.results.singleMovieResultsJson.poster_path}}"
  alt="{{ result.title}}"
  class="fade-in"
  />
<ul>
  <li ng-repeat="result in movies.results.singleMovieResultsJson.genres track by $index" class="fade-in-delay-1">
    <p class="fade-in-delay-1">{{movies.results.singleMovieResultsJson.genres[$index].name}}</p>
  </li>
</ul>
<p class="fade-in-delay-3">{{movies.results.singleMovieResultsJson.runtime}} mins</p>

<p class="fade-in-delay-3">{{movies.results.singleMovieResultsJson.overview}}</p>

<a class="anchor-block" href="http://www.imdb.com/title/{{movies.results.singleMovieResultsJson.imdb_id}}" target="_blank">View on IMDB</a>
<div class="trailer-bg hide" ng-class="{full: movies.selectedIndex}" ng-click="movies.itemClicked() === false">


<iframe width="560" height="315"  frameborder="0" allowfullscreen
src="{{movies.results.singleVideoResultsJson.results[0].key | youtubeEmbedUrl }}"
  ng-if="movies.results.singleVideoResultsJson.results[0].key">
</iframe>
</div>
  <a href="#"
  ng-click="movies.itemClicked(true)"
  ng-if="movies.results.singleVideoResultsJson.results[0].key">Watch Trailer</a>




  <h3 class="similarH3">Similar</h3>
  <p>id:{{movies.results.similarMoviesResultsJson.results[$index].id}}</p>
  <div class="similar-horizontal-container">
      <div class="similar-horizontal">
            <ul>

                <li ng-repeat="result in movies.results.similarMoviesResultsJson.results track by $index | limitTo: 19" >
                    <div class="movie-horizontal-inner">
                        <!-- ng-if no img then hide-->
                        <img ng-if="movies.results.similarMoviesResultsJson.results[$index].backdrop_path === null" src="images/no-image.png" width="185" class="fade-in" />
                        <a href="#" ui-sref="movieDetails({movieId:{{movies.results.similarMoviesResultsJson.results[$index].id}}})">
                            <img ng-if="movies.results.similarMoviesResultsJson.results[$index].backdrop_path !== null" src="http://image.tmdb.org/t/p/w185//{{movies.results.similarMoviesResultsJson.results[$index].backdrop_path}}" class="fade-in" alt="{{ result.title}}" />
                        </a>
                        <input type="hidden" value="{{result.id}}" />
                        <a href="#" ui-sref="movieDetails({movieId:{{movies.results.similarMoviesResultsJson.results[$index].id}}})" class="fade-in">
                            <!-- slice to reduce date -->
                            <strong>{{ movies.results.similarMoviesResultsJson.results[$index].title }}</strong> ({{ movies.results.similarMoviesResultsJson.results[$index].release_date.slice(0, -6); }})<br>

                        </a>
                    </div>
                </li>
                <li class="phantom"></li>
            </ul>
    </div>
  </div>

</section>
